<% content_for(:title, "Languages") %>
<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <h1>New</h1>
      <%= flash[:notice] %>

      <form action='/languages/<%= @language.id %>' method='post'>
      <%= render('form') %>
      <button>Submit</button>
      </form>
    </div>


    <div class="col-sm-3">
      <h1>Languages</h1>
      <ul>
        <% @languages.each do |language| %>
          <li><a href="/languages/<%= language.id %>"><%= language.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
